h1{
    font-size: 24px;
    font-family: 'ZCOOL KuaiLe', cursive;
    background-color: Red;
    color: Purple;
    }

    body{
        font-size: 24px;
        font-family: 'ZCOOL KuaiLe', cursive;
        background-color: Red;
        color: Purple;
        }
    
    p{
    font-size: 24px;
      font-family: 'ZCOOL KuaiLe', cursive;
    background-color: Red;
      color: Purple;
   }
        